html
  head
    meta(charset = "UTF-8")
    block head
      title Well-done
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="/bundle.js")
  body
  
  .font-family: arial
   .navbar.navbar-inverse.navbar-static-top
    .container
      .navbar-header
        a.navbar-brand(href = "/") Well-done
   .container
    block content